<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>天气预报&菜谱</title>
    <script src="vue.js"></script>
    <script src="axios.js"></script>
    <link rel="stylesheet" href="./css/bootstrap.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="http://pv.sohu.com/cityjson?ie=utf-8"></script>
</head>
<body>
    <div id="app">
        <div class="container">
            <nav class="navbar navbar-default">
                <div class="container-fluid">
                    <!-- Brand and toggle get grouped for better mobile display -->
                    <div class="navbar-header">
                        <a class="navbar-brand" href="#">菜鸟划水中心 </a>
                    </div>

                    <!-- Collect the nav links, forms, and other content for toggling -->
                    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                        <ul class="nav navbar-nav">
                            <li @click="qihuanfun(true)"><a href="#">天气预报 <span class="sr-only">(current)</span></a></li>
                            <li @click="qihuanfun(false)"><a href="#">菜谱</a></li>
                        </ul>
                    </div><!-- /.navbar-collapse -->
                </div><!-- /.container-fluid -->
            </nav>
<!--            天气预报，当hidden==true的时候显示-->
           <div v-if="hidden">
               <div  class="jumu">
                   <div class="jumbotron" style="background: url(./cloud.jpg) no-repeat ;">
                       <h1>天气预报查询</h1>
                       <p>给你一天的好心情~</p>
                   </div>
               </div>
               <div class="result">
                   <table class="table table-bordered">
                       <tr>
                           <td>日期</td>
                           <td>天气</td>
                           <td>风向</td>
                           <td>最高温度</td>
                           <td>最低温度</td>
                       </tr>
                       <tr v-for="(item,index) in list">
                           <td>{{ item.date }} {{ item.week }} </td>
                           <td ><img width="40" :src="'./icon/' + item.day.img + '.png'" alt="" ></td>
                           <td>{{ item.day.winddirect }}</td>
                           <td>{{ item.day.temphigh }}</td>
                           <td>{{ item.night.templow }}</td>

                       </tr>
                   </table>
               </div>
               <div class="chaxun">
                   <div class="form-group">
                       <label for="cityname">输入城市</label>
                       <input type="text" class="form-control" v-model="city" id="cityname" placeholder="柳州" style="width: 200px">
                   </div>
              </div>
                    请选择你的省份:
                    <select name="" id="" v-model="pro">
                    <option v-for="(item,index) in arr" >{{ index }}</option>
                    </select>
                    请选择你的城市
                    <select name="" v-model="city" >
                       <option value="item" v-for="(item,index) in arr[pro]" id="cityname">
                       {{ item }}
                       </option>
                    </select>


                   <button type="button" @click="getWeather" class="btn btn-info">查询</button>
               </div>
           


<!--            菜谱，当hidden==false的时候显示-->
            <div v-if="!hidden">
              <div  class="jumu">
                   <div class="jumbotron" style="background: url(./caipu.jpg) no-repeat ;color:yellow">
                       <h1>菜谱查询</h1>
                       <p>
                         新东方专业大厨在线教学
                       </p>
                   </div>
               </div>

               <div class="chaxun">
                   <div class="form-group">
                       <label for="keyword">输入关键字</label>
                       <input type="text" class="form-control" v-model="keyword" id="keyword" placeholder="牛肉" style="width: 300px">
                   </div>
                   <div class="form-group">
                       <label for="num">输入查询数量</label>
                       <input type="text" class="form-control" v-model="num" id="num" placeholder="0" style="width: 300px">
                   
                   <button type="button" @click="getcaipu" class="btn btn-info">查询</button>
               </div>

               <div class="result" v-for="(item,index) in list2" style="border-bottom:1px solid gray;margin-top:15px">
               <!-- <table class="table table-striped">
                <tr>
                    <td>菜品名称</td>
                    <td>图片</td>
                    <td>菜品描述</td>
                    <td>配料</td>
                </tr>
                <tr v-for="(item,index) in list2">
                    <td style="width: 150px">{{ item.name }}</td>
                    <td style="width: 300px"><img width="200px" v-bind:src="item.pic" alt=""></td>
                    <td style="width: 300px">{{ item.content}}</td>
                    <td>
                      {{ item.mname }} <br>
                      {{ item.amout }}
                    </td>
                </tr>
              </table> -->
              <ul class="media-list">
                <li class="media">
                  <div class="media-left">
                    <a href="#">
                      <img class="media-object" :src="item.pic" alt="..." style="width: 300px; height: 300px">
                    </a>
                  </div>
                  <div class="media-body" style="font-size: 18px">
                    <h3 class="media-heading">{{ item.name }}
                    </h3>
                    标签：{{ item.tag }}<br>
                    内容：<p v-html=" item.content "></p>
                    <br>
                    烹饪时间： {{ item.cookingtime }}

                  </div>
                </li>
                
              </ul>
            <table class="table" style="font-size: 18px">
              <tr>
                <td v-for="(items,indexs) in item.material" >
                  {{ items.mname }} <br>
                   {{ items.amount }}
                </td>
              </tr>
            </table>
            <h3>做法：</h3>
              <ul class="media-list">
                 <li class="media">
                  <div v-for="(items,indexs) in item.process">
                    <div class="media-left" >
                      <a href="#">
                        <img class="media-object" :src="items.pic" style="width:250px;height:200px; margin-bottom: 4px" alt="...">
                      </a>
                    </div>

                    <div class="media-body" style="font-size: 24px;">
                      <h4 class="media-heading"></h4>
                      <p v-html=" items.pcontent "></p>
                      
                    </div>
                  </div>
                </li>
              </ul>
            </div>
               <!-- <div class="result" v-for="(item,index) in list2" style="border-bottom: 1px solid red; margin-top: 15px">
                   
                  <div class="media">
                    <div class="media-left">
                      <a href="#">
                        <img class="media-object" v-bind:src="item.pic" alt="...">
                      </a>
                    </div>
                    <div class="media-body">
                      <h4 class="media-heading">
                        {{item.name}}
                        {{item.content}}</h4>
                    </div>
                    </div>
               </div>
                -->
          
            </div>
          </div>
        </div>
    </div>
</body>
</html>
<script>
    /*
    *   接口:/getweather
    *
    *   type:get
    *
    *   参数:city=城市名称
    *
    * */
    new Vue({
        el:'#app',
        data:{
            city:'柳州',
            list:null,
            hidden:true,
            keyword:'',
            num:0,
            list2:[],
            arr : {
                '广西':[
                    '桂林',
                    '南宁',
                    '柳州',
                    '百色',
                    '北海'
                ],
                '海南':[
                    '三亚',
                    '海口',
                    '博鳌',
                    '陵水'
                ]
            },
            pro:'广西'

        },
        methods:{
            getWeather:function(){
                let _this = this;
                axios.get('http://localhost:3000/getweather?city=' +  this.city).then(function (response) {
                    console.log(response.data.result.daily);
                    _this.list = response.data.result.daily
                })
            },
            getcaipu:function(){
                let _this = this;
                axios.get('http://localhost:3000/getcaipu?keyword=' + this.keyword + '&num=' +this.num).then(function (response) {
                    console.log(response.data.result.list);
                    _this.list2 = response.data.result.list
                })
            },
            qihuanfun:function(bool){
                this.hidden = bool;
              }
           
            },
            beforeMount:function(){
                this.getWeather();
        }
    })


</script>